* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  font-size: 100%;
  color: #111;
}

a {
  color: #6F1227;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.limiter {
  margin: 20px auto;
  max-width: 90%;
}

.container {
  margin: 0 auto;
  background: #eee;
  overflow: hidden; /* importante aqui */
}

.header-wrapper {
  text-align: center;
  width: 100%;
}

.header {
  margin: 20px;
  padding: 20px;
  background: #A6E7E7;
}

.main {
  margin: 0 auto;
  background: #ddd;
  height: 400px;
  overflow: hidden; /* importante aqui */
}

.side-wrapper {
  float: left;
  width: 30%;
  height: 100%;
}

.side {
  margin: 20px;
  padding: 20px;
  background: #E57A8E;
  height: 100%;
}

.content-wrapper {
  float: right;
  width: 70%;
  height: 100%;

}
.content {
  margin: 20px 20px 0 0;
  padding: 20px;
  background: #E7E965;
  height: 100%;
}

.footer-wrapper {
  width: 100%;
  clear:both;
}

.footer {
  margin: 20px 20px;
  padding: 20px;
  text-align: center;
  background: #B4F3A7;
}

@media only screen and (max-width: 800px) {
   body {
     font-size: 90%;
   }
   .limiter {
     width: 600px;
   } 
   .main {
     height: auto;
   }
   .side-wrapper {
     float: none;
     width: 100%;
     height: auto;
   }
   .menu {
     text-align: center;
   }
   .menu li {
     display: inline-block;
     margin: 0 5px;
   }

   .content-wrapper {
     float: none;
     width: 100%;
     height: auto;
   }
   .content {
     margin: 0 20px;
   }
  
}  

@media only screen and (max-width: 450px) {
   body {
     font-size: 80%;
   }
   .header, .footer {
     margin: 0;
   }
   .limiter {
     margin: 0;
     max-width: 100%;
   }
   .header,
   .side,
   .content,
   .footer {
     padding: 7px;
   }
}