* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 40px auto;
  width: 960px;
  background: #eee;
}

.header {
  margin: 0 auto;
  padding: 20px;
  width: 920px;
  background: #A6E7E7;
}

.main {
  margin: 0 auto;
  width: 960px;
  background: #ddd;
}

.side {
  margin: 0 auto;
  float: left;
  background: #E57A8E;
  padding: 20px;
  width: 260px;
  height: 400px;
}

.content {
  margin: 0 auto;
  padding: 20px;
  float: right;
  width: 620px;
  height: 400px;
  background: #E7E965;
}

.footer {
  margin: 0 auto;
  padding: 20px;
  width: 920px;
  background: #B4F3A7;
  clear:both;
}





